body{
    padding: 0;
    margin:0;
    width:100%;
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background:url('fundo.jpeg');
    background-size: cover;
}

#pai{
    width: 400px;
    height: 500px;
    box-shadow: 2px 5px 9px rgb(0 0 0 / 74%);
    background-color: rgb(237 71 38 / 59%);
    display: flex;
    flex-direction: column;
}

form{
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding:30px;
    align-items:  center;
    gap: 30px;
}

form .digi{
    width: 80%;
    height: 50px;
    border-radius:15px;
    border:none;
    padding:8px;
}

h1{
    color:white;
    text-transform: uppercase;
    font-family: sans-serif;
}

.btn{
    width: 80%;
    height: 50px;
    background-color: #eb4e81;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.486);
    border: none;
    color:white;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover{
    background-color: #883cb4;
}
